* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria,Georgia, Coc,
    "Times New Roman", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-item{
    width: 75%;
    height: 75vh;
    border:1px solid coral;
    padding: 8px;
    border-radius: 16px;
}

.header{
    text-align: center;
    font-size: 16px;
    background-color: lightgreen;
    padding: 16px;
    border-radius: 16px;
}

.form-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.form-item{
    width: 50%;
    padding: 8px;

}

.form-box-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-box-item input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 16px;
    /*border: wheat;*/
}

.form-box-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

.form-button{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box-button button {
    width: 50%;
    padding: 8px 16px;
    border: none;
    border-radius: 16px;
}

#btn_expenses{
    background-color: green;
    color: white;
}

#btn_income{
    background-color: indianred;
    color: white;
}

.transansi-box-item{
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transaksi-item{
    width: 100%;
    padding: 8px 16px;
    text-align: center;

}

#btn_income:hover{
    background-color: lightgreen;
}

#btn_expenses:hover{
    background-color: red;
}

.transaksi-heading  {
    margin-bottom: 16px;
    /*background-color: lightgray;*/
    padding: 8px ;
    text-align: center;
    /*border-bottom: 1px solid gray;*/
    /*border-top: 1px solid gray;*/
    /*border-radius: 8px;*/

}

.transanksi-table{
    width: 100%;
    background-color: white;
}

.transanksi-table table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    padding: 8px 16px;
}
